.btn-h1-spacing {
    margin-top: 20px;
}

.form-spacing-top {
    margin-top: 30px;
}

.btn-top-spacing {
    margin-top: 10px;
}

.comment {
    margin-bottom: 40px;
}

.author-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    float: left;
}

.author-name {
    float: left;
    margin-left: 15px;
}

.comment-content {
    clear: both;
    margin-left: 65px;
    font-size: 16px;
    line-height: 1.3em;
}

.author-time {
    font-size: 75%;
    font-style: italic;
    color: #aaaaaa;
}

.comment-head {
    margin-bottom: 40px;
}

